.hover-scale-animation {
  transition: transform .3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (width <= 768px) {
  .hover-scale-animation:hover {
    transform: scale(1.05);
  }
}