---
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Summary from "../components/Summary.astro";
import TechStack from "../components/TechStack.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <main>
    <Hero />
    <Summary />
    <Projects />
    <TechStack />
    <Contact />
  </main>
</Layout>

<script>
  const theme = localStorage.getItem('theme');
  const rootElement: HTMLElement = document.documentElement;
  const toggleThemeButton: HTMLElement | null = document.querySelector(".theme-toggle");

  if(theme === "dark") {
    rootElement.classList.add("dark");
    toggleThemeButton?.classList.add("theme-toggle--toggled");
  } 
</script>
