---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro"
import "../styles/index.css";

---

<!doctype html>
<html lang="es-ES">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/classic.min.css">
    <title>Rubén, desarrollador web</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
